#boards-container{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

#boards-list{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    gap: 2rem;
    padding: 2rem;
}

#boards-list a{
    text-decoration: none;
}